.category-picker {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 12px;
}

.search-container {
    background-color: white;
    border: solid 1px black;
}

#search-container {
    min-height: 150px;
}

#submit-search-btn {
    margin-bottom: 12px;
}

#new-party-btn {
    margin-bottom: 12px;
}

.party-form {
    background-color: white;
    border: solid 1px #333333;
}

#party-description-input {
    border: solid 1px black;
}

#have-members, #min-members, #max-members, #party-start-time, #chosen-video-game,
 #chosen-game-source, #chosen-board-game, #chosen-board-source, #chosen-other, #party-author,
 #party-title {
    border: solid 1px black;
}

#submit-party-btn {
    margin-bottom: 12px;
}

.party-box, .fullparty-box {
    border: solid 1px black;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
}

.detail-prefix {
    font-weight: bold;
}

.join-button {
    margin-bottom: 12px;
}