.post-header {
    border-bottom: solid 1px black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.reply-header {
    border-bottom: solid 1px black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.thread-poster-info {
    align-content: left;
    text-align: center;
    border-right: solid 1px black;
}

.post-row {
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    background-color: white;
}

.thread-post-box {
    min-height: 150px;
}